.holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  flex: 0 0 auto;
  padding: 20px;
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 6px;
}
